.main {
  display: flex;
  flex-direction: column;

  /* gap: 100px; */
}

.data {
  display: flex;
  gap: 100px;
}

.cookies {
  display: flex;
  flex-direction: column;
}

.passwords {
  display: flex;
  flex-direction: column;
}
